.access-list-container {
    border: 1px solid #e4e4e4;
    margin: 2.5rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px #efefef;
    &.fixed {
        .access-list-header {
            position: fixed;
            top: 0;
            width: calc(100% - 80px);
            z-index: 5;
            border-bottom: 1px solid #e4e4e4;
            border-top: 0;
        }
        .access-list-content {
            padding: 5rem 0 0 0;
        }
    }
    .access-list-header {
        display: flex;
        padding: 0rem 2rem;
        height: 5rem;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        box-sizing: border-box;
        div {
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .order {
            width: 75px;
        }
        .token-id {
            width: 75px;
        }
        .client {
            width: 200px;
        }
        .type {
            width: 150px;
        }
        .status {
            width: 170px;
        }
        .information {
            width: 240px;
        }
        .created {
            width: 180px;
        }
    }
    .access-list-content {
        display: flex;
        flex-direction: column;
        .access-not-found {
            display: flex;
            align-items: center;
            height: 5rem;
            background: #fff;
            justify-content: center;
        }
    }
}