.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 5rem;
    background: #ffffff;
    z-index: 5;
    transition: 500ms;
    border-bottom: 1px solid #efefef;
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        width: 100%;

        
        .header-actions {
            display: flex;
            flex-direction: row;
            margin: 0px;
            padding: 0 2.5rem;
            list-style: none;
            align-items: center;
            ul {
                display: flex;
                padding: 0px;
                list-style: none;
                li {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 0px 2.5rem;
                    cursor: pointer;
                    text-align: right;
                    font-family: "Oswald", sans-serif;
                    text-transform: uppercase;
                    color: #333;
                    font-style: oblique;
                }
            }
        }
        img {
            width: 90px;
            cursor: pointer;
            margin: 0 80px 0 80px;        
        }
    }
}

@media (max-width: 767px) {
    .header-container {
        .header-content {
            .header-main {
                display: flex;
                left: calc(50% - 82px);
                h1 {
                    font-size: 24px;
                }
                .anticon {
                    display: inherit;
                    left: 32px;
                    top: 32px;
                }
            }
            .header-actions {
                display: none;
            }
        }
    }
}

@media (min-width: 768px)  and (max-width: 1024px) {
    .header-container {
        .header-content {
            .header-main {
                display: flex;
                left: calc(50% - 82px);
                h1 {
                    font-size: 24px;
                }
                .anticon {
                    display: inherit;
                    left: 32px;
                    top: 32px;
                }
            }
            .header-actions {
                display: none;
            }
        }
    }
}