@import '../styles/variables';
@import '../styles/mixins';

body {
  margin: 0;
  min-height: 100vh;
  color: #333;
  font-family: 'Manrope';
  overflow-x: hidden;
}

.noscroll {
  position: fixed !important;
  overflow-y: scroll;
  width: 100%;
}

.ant-btn {
  color: #000 !important;
  background: #fff;
  box-shadow: 0 2px 0 rgb(0 148 138 / 10%);
  text-transform: uppercase;
  font-style: oblique;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    background: #fff !important;
  }
  &:disabled {
    background: #d9d9d9;
    &:hover {
      background: #d9d9d9 !important;
    }
  }
}

.ant-btn-primary {
  color: #fff !important;
  background: #049b92;
  box-shadow: 0 2px 0 rgb(0 148 138 / 10%);
  text-transform: uppercase;
  font-style: oblique;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    background: #049b92 !important;
  }
  &:disabled {
    background: #d9d9d9;
    &:hover {
      background: #d9d9d9 !important;
    }
  }
}

.ant-switch.ant-switch-checked {
  background: #333333 !important;
}

.ant-input, .ant-picker, .ant-input-number {
  background: #fff;
  background-color: #fff !important;
  border-color: #e4e4e4 !important;

  @include mobile-only {
    min-width: 100px;
    width: 100%;
  }

  @include tablet {
    min-width: 160px;
  }

  &::placeholder {
    color: #8e8e8e;
  }
}

.ant-picker {
  input {
    &::placeholder {
      color: #8e8e8e !important;
    }
  }
  .anticon {
    color: #8e8e8e !important;
  }
}

.ant-input-number {
  background: #fff;
  background-color: #fff !important;
  border-color: #d9d9d93d;
  min-width: 160px;
  color: #333;
  width: 100%;
  .ant-input-number-input {
    color: #333;
  }
  &::placeholder {
    color: #8e8e8e;
  }
}

.ant-input, .ant-input-number {
  &:disabled {
    background: #fff;
    border-color: #d9d9d93d;
  }
}

.ant-select {
  @include mobile-only {
    width: 100%;
    min-width: 100px;
  }

  @include tablet {
    width: 150px;
  }

  .ant-select-selector {
    color: #333;
    background: #fff;
    background-color: #fff !important;
    border-color: #e4e4e4 !important;
    .ant-select-selection-item {
      font-size: 16px;
      color: #333 !important;
    }
  }
  .ant-select-arrow {
    color: #333 !important;
  }
}

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
  color: #333;
}

h1 {
  @include mobile-only {
    font-size: 14px;
  }

  @include tablet {
    font-size: 16px;
  }

  font-weight: bold;
}

h2 {
  margin: 0 0 30px 0;
}

.ant-form-item-label > label {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px !important;
  text-transform: uppercase;
  font-style: oblique;
  color: #333 !important;        
}

ul {
  list-style: none;
  padding: 0;
}

p {
  color: #333;
}

.ant-form-item .ant-form-item-label >label {
  color: #333;
}

.ant-modal .ant-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #e4e4e4;

  @include mobile-only {
    padding: $spacing-md;
  }

  @include tablet {
    padding: 2.5rem;
  }
}

.view-details {
  color: #333;
  background: #fcfcfc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  border: 1px solid #e4e4e4;
  box-shadow: unset;
  max-width: 180px;
  &:hover {
    background: #fff;
    border: 1px solid black !important;
    color: black !important;
  }
}

.ant-modal-body {
  width: 100%;
}