.campaigns-container {
    min-height: 100vh;
    box-sizing: border-box;
    .campaigns-header {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 0 0 3rem;
        border-bottom: 1px solid #e4e4e4;
        h1 {
            margin: 0;
            .anticon {
                margin: 0px 12px 0 0;
            }
        }
        .campaigns-header-actions {
            display: flex;
            margin: 0 0 0 auto;
            .campaigns-header-action {
                color: #999;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                cursor: pointer;
                width: 80px;
                border-left: 1px solid #e4e4e4;
                height: 80px;
                box-sizing: border-box;
                &:hover {
                    color: #333;
                }
            }
        }
    }
    .campaigns-content {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        &.loading {
            font-size: 5rem;
            min-height: 100%;
        }
        &.error {
            font-size: 1rem;
            min-height: 100%;
            .anticon {
                color: red;
                margin: 0 7px 0 0;
            }
        }
    }
}