.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    min-height: 100vh;
    box-sizing: border-box;
    .login-content {
        display: flex;
        align-items: center;
        border-radius: 8px;
        min-width: 500px;
        flex-direction: column;
        .ant-form-item-label > label {
            font-weight: 800;
            letter-spacing: 1px;
            font-size: 10px;
            text-transform: uppercase;
            font-style: oblique;
            color: #333;        
        }
        .login-form {
            padding: 5rem;
            min-width: 490px;
            h1 {
                letter-spacing: 1px;
                font-size: 24px;
                margin: 0px 0px 2.5rem 0px;
                text-align: center;
                font-weight: 800;
                text-transform: uppercase;
                font-style: oblique;
            }
            .ant-form-item {
                margin: 15px 0px 0px 0px;
            }
            .form-actions {
                margin: 2.5rem 0px 0px 0px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .login-btn {
                    background: unset;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: right;
                    color: #333;
                    padding: 20px 54px;
                    box-shadow: unset;
                    border: 1px solid #333;
                    &:hover{
                        color: #333;
                        border: 1px solid #333;
                    }
                }
                .cancel-btn {
                    border: 0px;
                    background: unset;
                    font-size: 14px;
                    cursor: pointer;
                    text-align: right;
                    color: #333;
                    padding: 20px 54px;
                    box-shadow: unset;
                    &:hover{
                        color: #333;
                    }
                }
            }
        }

    }
}

@media (max-width: 767px) {
    .login-container {
        margin: unset;
        align-items: center;
        padding: 7.5rem 2.5rem;
        .login-content {
            width: 100%;
            padding: 0px 0px 30px 0px;
            min-width: unset;
            .login-form {
                width: 100%;
                min-width: unset;
                padding: 0px;
                .form-actions {
                    flex-direction: column;
                    flex-direction: column-reverse;
                    .cancel-btn {
                        margin: 1.25rem 0 0 0;
                    }
                } 
            }
            p {
                text-align: center;
            }
        }
    }
}

@media (min-width: 768px)  and (max-width: 1024px) {
    .login-container {
        margin: unset;
        align-items: center;
        padding: 7.5rem 2.5rem;
        .login-content {
            width: 100%;
            padding: 0px 0px 30px 0px;
            min-width: unset;
            .login-form {
                width: 100%;
                min-width: unset;
                padding: 0px;
                .form-actions {
                    flex-direction: column;
                    flex-direction: column-reverse;
                } 
            }
            p {
                text-align: center;
            }
        }
    }
}