.access-accounts-container {
    min-height: 100vh;
    box-sizing: border-box;
    background: #fdfdfd;
    .access-accounts-header {
        position: relative;
        z-index: 5;
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e4e4e4;
        background: #fff;
        box-shadow: 0 0 8px #efefef;
        h1 {
            margin: 0;
            .anticon {
                margin: 0px 12px 0 0;
            }
        }
    }
    .access-accounts-content {
        margin: 2.5rem;
        box-sizing: content-box;
        border: 1px solid #e4e4e4;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 8px #efefef;
        .access-accounts-content-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            padding: 0 25px;
            h1 {
                .anticon {
                    margin: 0px 12px 0 0;
                }
            }
            .add-account-btn {      
                color: white;
                background: #282A2F;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                border: 0px;
                &:hover {
                    color: #efefef;
                }
            }
        }
    }
}